body{
  background-color: #eef3db !important;
  font-family: 'Montserrat' !important;
  margin: 0px;
}

h1{
  background-color: #b7d8d6;
  font-family: 'Raleway';
  font-size: 48px;
  text-shadow: 4px 4px 4px 4px;
  padding: 15px 15px 15px 15px;
  margin: 0px !important;
}

h2{
  margin: 0px;
  background-color: #4d6466;
  padding: 5px 15px 5px 15px;
}

.btn-primary{
  color: #000 !important;
  background-color: #b7d8d6 !important;
  border-width: 0px !important;
  height: 50px;
  margin: 5px 30px 5px 30px;
  padding: 0px !important;
  border-radius: 10px !important;
}

.btn-secondary{
  color: #000 !important;
  background-color: #b7d8d6 !important;
  border-width: 0px !important;
  height: 50px;
  margin: 5px 30px 5px 0px;
  padding: 0px !important;
  border-radius: 10px !important;
}

.btn-primary a{
    color: black;
    text-decoration: none !important;
}

.btn-primary:hover {
  color: #000 ;
  background-color: #98b3b1 !important;
  border-color: #212121 !important;
  border-radius: 10px !important;
}

.btn-primary:hover a{
  color: black;
}

.dropdown-item{
  background-color: #fe615a !important;
  color: white !important;
  border-color: #212121 !important;
}

.dropdown-item:hover{
  background-color: #e3564f !important;
}

.dropdown-menu{
  margin: 0px !important;
  padding: 0px !important;
  border-width: medium !important;
}

.city-slides{
  width: 100%;
  height: 400px;
  max-width: 95%;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  margin: 0 auto;
  box-sizing: border-box;
}

.slides{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: red;
  position: relative;
}

.slides .images{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.slides .images:first-child{
  display: block;
}
