body{
  background-color: #eef3db !important;
  font-family: 'Montserrat' !important;
  margin: 0;
}

h1{
  background-color: #b7d8d6;
  font-family: 'Raleway';
  font-size: 48px;
  text-shadow: 4px 4px 4px 4px;
  padding: 15px 15px 15px 15px;
  margin: 0px !important;
}

h2{
  margin: 0px;
  background-color: #4d6466;
  padding: 5px 15px 5px 15px;
}

.btn-primary{
  color: #000 !important;
  background-color: #b7d8d6 !important;
  border-width: 0px !important;
  height: 50px;
  margin: 5px;
  padding: 0px !important;
  border-radius: 10px !important;
}


.btn-primary a{
    color: black;
    text-decoration: none !important;
}

.btn-secondary{
  background-color: #fe615a !important;
  border-radius: 15px !important;
  border-color: #212121 !important;
  border-width: 3px !important;
}

.btn-secondary:hover{
  background-color: #e3564f !important;
}


.btn-primary:hover {
  color: #000 ;
  background-color: #98b3b1 !important;
  border-color: #212121 !important;
  border-radius: 10px !important;
}

.btn-primary:hover a{
  color: black;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: green;
  border-color: #007bff;
}

.dropdown-item{
  background-color: #fe615a !important;
  color: white !important;
  border-color: #212121 !important;
}

.dropdown-item:hover{
  background-color: #e3564f !important;
}



.dropdown-menu{
  margin: 0px !important;
  padding: 0px !important;
  border-width: medium !important;
}
